$rem240: rem(-240px);

.siteheader-buffer {
  background-color: $secondary-dark;
  height: rem(96px);
  transition: all 0.25s ease;
}

.siteheader-comp {
  background-color: rgba($secondary-dark, 0.85);
  backdrop-filter: blur(#{rem(8px)});
  // box-shadow: rem(0px 8px 8px 0px) rgba($black, 0.25);
  height: rem(96px);
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.25s ease;
  width: 100%;
  z-index: 840;

  .logo-wrap {
    left: rem(8px);
    padding: rem(12px) 0;
    position: absolute;
    top: 0;
    transition: all 0.25s ease;
    z-index: 2;
  }

  .site-logo {
    display: block;
    height: rem(40px);
    text-align: center;
    width: rem(80px);

    img {
      width: 100%;
    }
  }

  .nav-wrap {
    display: flex;
    position: absolute;
    right: rem(8px);
    text-align: right;
    top: 0;
    z-index: 2;

    button {
      background: transparent;
      border: 0;
      color: $white;
      height: rem(64px);
      line-height: 1;
      margin: rem(0 0 0 4px);
      padding: 0;
      transition: all 0.25s ease;
      width: rem(48px);

      font-size: rem(24px);

      .txt {
        font-weight: bold;
      }

      &.active {
        background-color: $dark;
      }
    }
  }
}

.site-nav-loc {
  margin-top: rem(64px);
  padding: rem(0 8px);
  height: rem(32px);
  display: flex;
  align-items: center;
  color: $white;
  font-size: rem(12px);
  .loc-icon {
    position: relative;
    top: rem(2px);
  }
  a {
    color: $light;
    text-transform: uppercase;
  }
}

.site-nav-wrap {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(101%);
  // transform: translateX(0%);
  transition: transform 250ms ease;
  z-index: 860;
  background-color: rgba($secondary, 0.85);
  backdrop-filter: blur(0.5rem);
  height: 100%;
  width: 100%;
  &.active {
    transform: translateX(0);
  }

  .nav-user-wrap {
    background-color: $primary-dark;
    position: relative;
    padding: rem(0 64px);
    min-height: rem(64px);
    .user-avtr, .close-site-nav {
      font-size: rem(32px);
      background: none;
      border: 0;
      height: rem(64px);
      line-height: 1;
      margin: 0;
      padding: 0;
      width: rem(64px);
      color: $white;
      top: 0;
      position: absolute;
      justify-content: center;
    }
    .user-avtr {
      left: 0;
    }
    .close-site-nav {
      right: 0;
    }
    &, .user-avtr {
      display: flex;
      align-items: center;
    }
  }

  .accessible-megamenu {
    border-color: transparent;
  }
  .accessible-megamenu-panel {
    left: 0;
    .sub-nav-group {
      &, li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  .accessible-megamenu-top-nav-item {
    border-color: transparent;
  }

  .accessible-megamenu > .accessible-megamenu-top-nav-item a[aria-expanded] {
    text-transform: uppercase;
    font-size: rem(18px);
    box-shadow: none;
  }

  .accessible-megamenu > .accessible-megamenu-top-nav-item:first-child a[aria-expanded].open {
    // border-color: transparent;
    border: 0;
    left: 0;
    margin: 0;
  }

  .accessible-megamenu > .accessible-megamenu-top-nav-item a[aria-expanded].open,
  .accessible-megamenu > .accessible-megamenu-top-nav-item a[aria-expanded]:hover,
  .accessible-megamenu > .accessible-megamenu-top-nav-item a[aria-expanded]:focus,
  .accessible-megamenu .accessible-megamenu-panel {
    background: $secondary-dark;
  }

  .nav-menu {
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: $white;

    li {
      text-shadow: none;
    }
    a {
      &, &:link {
        color: $white;
      }
    }
  }
}


.hdr-nav-mask, .hdr-nav-wrap {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.5);
  backdrop-filter: blur(0.5rem);
  transform: translateX(100%);
  transition: transform 250ms ease;
  z-index: 2040;
  &.active {
    transform: translateX(0);
  }
}
.hdr-nav-wrap {
  background-color: $gray-200;
  z-index: 2050;
  .close-site-nav {
    font-size: rem(32px);
    background: none;
    border: 0;
    height: rem(64px);
    line-height: 1;
    margin: 0;
    padding: 0;
    width: rem(64px);
    color: $dark;
    justify-content: center;
  }
  .close-site-nav {
    height: rem(64px);
  }
  .hdr-nav-content {
    display: flex;
    height: calc(100% - #{rem(64px)});
    overflow-y: scroll;
    padding: rem(16px);
  }
  form {
    width: 100%;
  }
}