.nav-search-wrap {
  padding: rem(16px 176px 16px 128px);
  select {
    border-radius: rem(16px 0 0 16px);
  }
}

.hdr-nav-wrap, .site-nav-wrap {
  width: rem(480px);
}
.site-nav-loc {
  margin: 0;
}
