.w1 {
  position: fixed;
  background-color: rgba(#fff, 0.75);
  backdrop-filter: blur(0.5rem);
  z-index: 999;
  height: 100px;
  left: 0;
  top: 0;
  width: 100%;
}
.buffer {
  height: 100px;
}
.max-wrap {
  max-width: 1440px;
  margin: 0 auto;
}
.tile-wrap {
  border-radius: 8px;
  height: 100%;
  align-self: stretch;
  border: 1px solid #aaa;
  .img-wrap {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    border-radius: 8px 8px 0 0;
    img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .text-wrap {
    padding: 16px;
    text-align: center;
  }
  .avatar-img {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  .avatar-name {
    font-weight: bold;
  }
  .desc-wrap {
    padding-top: 16px;
    font-style: italic;
  }
}